@import './base.css';

/* @import '../../node_modules/bootstrap/dist/css/bootstrap-utilities.min.css'; */
@import '../../node_modules/bootstrap/dist/css/bootstrap-utilities.min.css';

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap&family=Cabin:ital,wght@0,400..700;1,400..700&display=swap&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap&family=Satisfy&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Hind:wght@300;400;500;600;700&family=Poetsen+One&display=swap');

:root {
  --body-text-color: #fff;
  --navlink-show-color: #000;
  --bg-color-link: #f0e9e9;
  --bg-color-navbar: #3c3c3f;
  --bg-color-menu-wrap: #848d94;

  --navbar-height-desk-1: 100px;
  --navbar-height-mob-desk: 50px;
  --navmenu-color-title: #f4f4f4;
  --footer-height-desk: 100px;
  --footer-height-mob: 70px;
  --msg-container-height: var(--footer-height) + var(--navbar-height-mob-desk);

  --bg-navbar: hsl(188, 66%, 43%);
  --bg-primary-color: hsl(184, 86%, 36%);
  --bg-secondary-color: hsl(231, 28%, 38%);
  --bg-shift-secondary-color: hsl(240, 24%, 38%);
  --bg-border-layout: hsl(188, 9%, 82%);

  --text-color-primar: #fff;
  --text-color-label: #c0c0c0;
  --text-color-two: hsl(0, 0%, 81%);
  --text-color-three: hsl(180, 6%, 90%);

  --bg-principal: hsla(240, 100%, 15%, 0.682);
}

*,
*::before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* <--- link media ----> */

#link_linkedin,
#link_tweeter,
#link_github {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 3;
}

#link_linkedin[data-icon='0'] {
  background-image: url('../assets/images/linkedin-svgrepo-com.svg');
}
#link_linkedin[data-icon='1'] {
  background-image: url('../assets/images/linkedin-hover-svgrepo-com.svg');
}

#link_tweeter[data-icon='0'] {
  background-image: url('../assets/images/x_logo_twitter_new_brand_icon.svg');
}
#link_tweeter[data-icon='1'] {
  background-image: url('../assets/images/x_logo_twitter_new_brand_icon-hover.svg');
}

#link_github[data-icon='0'] {
  background-image: url('../assets/images/logo-github-svgrepo-com.svg');
}
#link_github[data-icon='1'] {
  background-image: url('../assets/images/logo-github-hover-svgrepo-com.svg');
}

.link_media .link_icon[data-icon='0'] {
  cursor: pointer;
  visibility: visible;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 1.12em;
  height: 1.12em;
  padding: 5px;
  border-radius: 5px;
  transition: all 350ms ease;
}

.link_media:hover .link_icon[data-icon='0'],
.link_media .link_icon[data-icon='1'] {
  visibility: hidden;
  transition: all 350ms ease;
}

.link_media:hover .link_icon[data-icon='1'] {
  cursor: pointer;
  visibility: visible;
  position: absolute;
  top: -12px;
  left: 0;
  right: 0;
  width: 1.4em;
  height: 1.4em;
}

/* --- fonts --- */

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 800

.eb-garamond-<uniquifier> {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 700

.cabin-<uniquifier> {
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */

.font_Satisfy {
  font-family: 'Satisfy', cursive;
  font-weight: 400;
  font-style: normal;
}

.font_Open_Sans_400 {
  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
  /* font-size: clamp(0.75rem, 0.92rem, 1.1rem); */
}

.cabin-500 {
  font-family: 'Cabin', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

.row > * {
  padding: 0;
}

body {
  position: relative;
  left: 0;
  width: 100vw;
  min-height: 100svh;
  padding: 0rem;
  overflow-x: hidden;
}

@keyframes anim-welcome-page {
  0% {
    opacity: 0.6;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
