@import "../../node_modules/@fortawesome/fontawesome-free/css/fontawesome.min.css";

/* @import "../../node_modules/@fortawesome/fontawesome-free/js/fontawesome.min.js"; */

:root {
  --navbar-height-desk-1: 100px;
  --navbar-height-mob-desk: 50px;
  --footer-height-desk: 100px;
  --footer-height-mob: 60px;

  --msg-container-height-mob: var(--footer-height-mob) +
    var(--navbar-height-mob-desk);

  --msg-container-height-desk: var(--footer-height-desk) +
    var(--navbar-height-mob-desk);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* <i class="fa fa-github" aria-hidden="true"></i>
<i class="fa fa-linkedin" aria-hidden="true"></i>
<i class="fa fa-twitter" aria-hidden="true"></i> */

@media (min-width: 160px) {
  .msg_container {
    position: relative;
    top: 0;
    width: 100%;
    height: calc(100% - var(--footer-height-mob));
    padding: 0;
  }

  .msg_container .msg_together {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-image: linear-gradient(
      to right top,
      #515355,
      #515455,
      #525555,
      #535654,
      #555654
    );
  }

  .msg_together .contact_msg {
    position: absolute;
    top: 42%;
    left: 50%;
    width: 80vw;
    height: auto;
    padding-bottom: 0;
    font-size: calc(24px + 0.3vw);
    color: #fff;
    letter-spacing: 0px;
    text-decoration: none;
    transform: translate(-50%, -50%);
    text-align: center;
    transition: all 1s ease-in-out;
  }

  .msg_together .contact_msg:hover {
    padding-bottom: 1rem;
    text-decoration: underline;
    font-size: calc(26px + 0.3vw);
    letter-spacing: 2px;
  }

  .brand_container {
    position: relative;
    bottom: 0;
    height: var(--footer-height-mob);
    padding: 0;
  }

  .brand_container .brand_row {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #eee;
    border: 2px solid transparent;
  }
  .brand_row .item_brand {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .link_media {
    position: relative;
    width: 3rem;
    height: 3rem;
    padding: 0rem;
    background-image: url("../assets/images/twitter-svgrepo-com.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
  }

  .linkedin_wrapper.link_media {
    background-image: url("../assets/images/linkedin-svgrepo-com.svg");
  }

  .github_wrapper.link_media {
    background-image: url("../assets/images/logo-github-svgrepo-com.svg");
  }

  .link_media::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    border-radius: 5px;
    border: 1px solid transparent;
    background-color: rgba(118, 216, 118, 0.315);
    transition: all 1s ease-in-out;
  }

  .link_media:hover::before {
    border-radius: 5px;
    border: 1px solid #fff;
    background-color: rgba(0, 0, 0, 0.215);
  }
}

/* @media (min-width: 460px) {
  .msg_container {
    width: 100%;
    height: calc(100vh - (var(--navbar-height-desk-1)+ var(--footer-height)));
  }
} */

@media (min-width: 768px) {
  .msg_container {
    height: calc(100% - var(--footer-height-desk));
    padding: 0;
  }

  .msg_together .contact_msg {
    font-size: calc(30px + 0.3vw);
  }

  .msg_together .contact_msg:hover {
    font-size: calc(32px + 0.3vw);
  }

  .brand_container {
    height: var(--footer-height-desk);
  }

  .link_media {
    width: 5rem;
    height: 3.8rem;
    padding: 0rem;
  }
}
