:root {
  --navbar-height-desk-1: 100px;
  --navbar-height-mob-desk: 50px;

  --footer-height-mob: 59px;
  --msg-container-height-mob-mini: 110px;

  --msg-container-height-mob-med: 160px;

  --footer-height-desk-1: 69px;
  --msg-container-height-desk-1: 120px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*Main container*/

@media (min-width: 160px) {
  .link_station {
    position: relative;
    top: 0;
    height: calc(100vh - var(--navbar-height-mob-desk));
    visibility: visible;
    transform: scale(1);
    /* animation: we-together-anim 2s ease-in-out 0.3s forwards; */
  }

  .msg_and_form_container {
    position: relative;
    top: 0;
    width: 100%;
    height: auto;
    padding: 0;
    background-image: linear-gradient(
      to right top,
      #000080,
      #0f0a99,
      #1b16b2,
      #2421cd,
      #2d2de8
    );
  }

  .msg_and_form_container .msg_together {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }

  /* .contact_msg {
    width: 100%;
    height: 100px;
  }

  .contact_msg .message_me {
    width: 80%;
    height: 100%;
    padding-top: 1rem;
    font-size: calc(24px + 0.3vw);
    color: #fff;
    letter-spacing: 0px;
    text-decoration: none;
    text-align: center;
    transition: all 1s ease-in-out;
    z-index: 25;
  }

  .msg_together .message_me:hover {
    text-decoration: underline;
    font-size: calc(26px + 0.3vw);
    letter-spacing: 2px;
  } */

  /* drop a message */
  .main_contact_area {
    position: relative;
    top: -1rem;
    width: 80%;
    height: auto;
    margin: 0 0 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }

  .btn_hand {
    position: relative;
    cursor: pointer;
    top: 20%;
    left: -39%;
    width: 20px;
    height: 20px;
    opacity: 0.9;
    transform: translateX(-10%);
    border-radius: 5px;
    border: 2px solid transparent;
    outline: none;
    transition: all 1s ease-in-out;
  }

  .btn_hand:hover {
    opacity: 1;
    box-shadow: 0px 0px 0px 4px #e2712f;
  }

  .hand_writing_img {
    width: 100%;
    height: 100%;
    background-image: url("../assets/images/hand-writing.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .drop_wrapper {
    position: absolute;
    top: 1.5rem;
    height: auto;
    margin: 0 auto;
  }

  .form_msg_control {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 1rem 1.25rem;
    margin: 0 auto;
    background-image: linear-gradient(
      to right top,
      #000080,
      #030388,
      #07068f,
      #0b0a97,
      #0e0e9f
    );
  }

  .form_content_control {
    width: 100%;
    min-height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .form_content_submit {
    position: relative;
    width: 100%;
    padding: 0.5rem 0;
    justify-content: center;
  }

  .warning_sending_msg {
    position: absolute;
    top: 50%;
    left: 0;
    width: 70%;
    height: 24px;
    padding: 0.25rem;
    background-color: #ddd;
    color: brown;
    border-radius: 0px;
    font-size: calc(12px + 0.3vw);
    margin: 0 auto;
    box-shadow: 0px 0px 5px rgb(209, 211, 74);
    transform: translate(0%, -50%);
    visibility: hidden;
    transition: all 1s ease-in-out;
    z-index: 3;
  }

  .warning_sending_msg.apply_it_visible {
    position: absolute;
    top: 50%;
    left: 0;
    width: 70%;
    height: 24px;
    padding: 0.25rem;
    border-radius: 5px;
    transform: translate(0%, -50%);
    visibility: visible;
  }

  .form_content_submit button.submit_btn_msg {
    position: relative;
    right: 0;
    width: 100%;
    height: 2rem;
    color: #fff;
    background-color: #4d1b9e;
    border-radius: 5px;
  }

  .form_content_submit button div {
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: transparent;
    border-radius: 5px;
    outline: 1px solid #fff;
    outline-offset: -2px;
  }

  /* brand container */

  .brand_container {
    position: relative;
    bottom: 0;
    height: var(--footer-height-mob);
    padding: 0;
    background-color: rgb(29, 29, 56);

    background-color: rgb(20, 20, 43);
  }

  .brand_container .brand_row {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    border: 2px solid transparent;
  }
  .brand_row .item_brand {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .link_media {
    position: relative;
    width: 2rem;
    height: 2rem;
    padding: 0rem;
    background-image: url("../assets/images/linkedin-svgrepo-com.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 3;
  }

  .tweeter_wrapper.link_media {
    background-image: url("../assets/images/x_logo_twitter_new_brand_icon.svg");
  }

  .github_wrapper.link_media {
    background-image: url("../assets/images/logo-github-svgrepo-com.svg");
  }

  .link_media::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0.25rem;
    opacity: 0.8;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: all 1s ease-in-out;
  }

  .link_media:hover::before {
    border-radius: 5px;
    border: 1px solid #fff;
  }

  /* board contact (new) */
  .form_container input,
  .form_container button {
    border: none;
    outline: none;
  }

  .form_container input {
    width: 100%;
    height: 34px;
    padding-left: 0.5rem;
    border-radius: 5px;
  }
}

@media (min-width: 460px) {
  .link_station {
    height: calc(100vh - var(--navbar-height-desk-1));
  }

  .msg_and_form_container {
    height: auto;
  }

  /* .contact_msg {
    width: 100%;
    height: 50px;
  }

  .contact_msg .message_me {
    width: 90%;
    padding-top: 1rem;
  } */

  .main_contact_area {
    position: relative;
    top: 0;
    width: 70%;
    height: auto;
    margin: 2.25rem 0 1rem;
  }

  .form_content_submit {
    justify-content: flex-end;
  }

  .form_content_submit button.submit_btn_msg {
    width: 4.6rem;
    height: 2.2rem;
  }

  .link_media {
    width: 2.5rem;
    height: 2.2rem;
    padding: 0rem;
  }
}

@media (min-width: 768px) {
  .link_station {
    height: calc(100vh - var(--navbar-height-mob-desk));
  }

  .btn_hand {
    top: 0;
    left: -16%;
  }

  .brand_container {
    position: relative;
    bottom: 0;
    height: var(--footer-height-desk-1);
    height: 50px;
    padding: 0;
  }

  /* board contact (new) */

  .msg_and_form_container {
    position: relative;
    top: 0;
    width: 100%;
    height: auto;
    padding: 0;
    background-image: linear-gradient(
      to right top,
      #676493,
      #5c5d8d,
      #505686,
      #444f80,
      #374879,
      #2f5386,
      #235f93,
      #066b9e,
      #008ebc,
      #00b2d3,
      #20d7e5,
      #5ffbf1
    );
  }

  .main_contact_area {
    width: 64%;
    height: 400px;
    max-width: 680px;
    margin: 2.5rem 0 2rem;
  }

  .main_contact_area * div {
    width: 100%;
    height: 100%;
  }

  .contact_board {
    position: relative;
    top: 2rem;
    height: 100%;
    padding: 0;
    display: grid;
    grid-template-columns: 100px;
    grid-template-rows: 88%;
  }

  .contact_board .social_activity {
    height: 100%;
    padding: 10px 8px;
    display: flex;
    flex-direction: column;
    /*  background-color: #6b1964; */
    background-color: rgba(107, 25, 100, 0.12);
  }

  .social_activity .social_msg {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
  }

  .social_msg .social_says {
    position: relative;
    top: 5px;
    color: #9595ee;
    writing-mode: sideways-lr;
    font-size: 10px;
    /*  border: 1px solid black; */
  }

  .social_activity .social_media_wrap {
    width: 100%;
    flex: 0 0 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: yellow; */
  }

  .social_activity .social_media {
    width: 100%;
    height: 40px;
    /*   background-color: red; */
    display: flex;
    justify-content: flex-start;
    gap: 8px;
    font-size: calc(14px + 0.15vw);
  }

  .social_media .link_media {
    width: 1.2em;
    height: 1.52em;
    padding: 0;
  }

  .form_container {
    width: 100%;
    padding: 20px 8px 20px 20px;
    display: grid;
    grid-template-areas:
      ". . with_me with_me"
      "guess guess guess ."
      "email email email submit"
      "msg msg msg msg";
    grid-template-rows: max-content;
    column-gap: 15px;
    row-gap: 10px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }

  .form_container input,
  .form_container button {
    border: none;
    outline: none;
  }

  .sharing_msg {
    grid-area: with_me;
    position: relative;
    top: 1.7rem;
    padding: 0.5rem 0;
    color: #fff;
    display: block;
    float: right;
    border-radius: 5px;
    border-top: 1px solid #c5c3c3;
  }

  .sharing_msg .message_me {
    font-size: calc(14px + 0.3vw);
    color: #fff;
  }

  .sharing_msg .message_me:hover {
    font-size: calc(16px + 0.3vw);
  }

  .name_wrap {
    grid-area: guess;
    letter-spacing: 0;
  }

  .email_wrap {
    position: relative;
    grid-area: email;
  }

  .email_wrap .warning_sending_msg {
    position: absolute;
    top: 5px;
    width: 60%;
    padding: 5px 10px;
    color: brown;
    background-color: #cfcd51;
    border-radius: 5px;
    box-shadow: -1px -2px 3px rgba(0, 0, 0, 0.3);
  }

  .message_wrap {
    grid-area: msg;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }

  .message_wrap textarea {
    padding: 5px;
    color: #e2e2e0;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #c5c3c3;
    box-shadow: 0px 0px 4px rgb(127, 127, 131);
  }

  .submit_container {
    grid-area: submit;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid gray;
  }

  .submit_container .btn_sub_msg {
    padding: 10px 15px;
    color: #fff;
    background-color: rgb(88, 115, 151);
    border-radius: 5px;
    font-size: calc(14px + 0.25vw);
    transition: all 350ms ease-in-out;
  }

  .submit_container .btn_sub_msg:hover {
    background-color: rgb(28, 74, 143);
  }

  /* modify */
  .form_content_control {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .form_container label {
    position: relative;
    top: 0;
    left: 0;
    width: 40%;
    color: rgb(209, 190, 228);
    font-size: calc(11px + 0.3vw);
    font-family: Georgia, "Times New Roman", Times, serif;
    display: block;
    float: left;
  }

  .form_container input {
    /*  width: 100%; */
    height: 24px;
    /* color:#e4e4e4; */
    color: #e2e2e0;
    padding-left: 0.5rem;
    background-color: transparent;
    border-bottom: 1px solid #c5c3c3;
    border-bottom-right-radius: 5px;
    transition: all 300ms ease-in-out;
  }

  .form_container input:focus {
    border-bottom: 2px solid #6c1d91;
  }

  .form_container input::placeholder,
  .form_container textarea::placeholder {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
  }
}

/* @keyframes we-together-anim {
  0% {
    top: -80%;
    visibility: hidden;
  }
  50% {
    top: 0%;
    visibility: visible;
  }
  80% {
    top: -15%;
    transform: scale(0.65);
  }
  100% {
    top: 0%;
    transform: scale(1);
  }
} */
