:root {
  --navbar-height-desk-1: 100px;
  --navbar-height-mob-desk: 50px;
  --footer-height-mob: 50px;

  --msg-container-height-mob: 120px;

  --msg-container-height-mob-mini: 100px;

  --msg-container-height-desk: 100px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (min-width: 160px) {
  /*wrapper*/

  .taked_home {
    position: relative;
    top: 0;
    width: 100%;
    height: calc(100vh - 35px);
    margin: 0;
    background-color: rgb(201, 174, 226);
    background-image: url("../assets/images/inner-picture/lauren-mancke-aOC7TSLb1o8-unsplash.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    z-index: 0;
  }

  /* hello message */
  .hye_container {
    position: relative;
    top: 0.5rem;
    width: 100%;
    height: 22vh;
    z-index: 3;
  }

  .hye_row {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: left;
    visibility: hidden;
    animation: anim-hello-group 1s ease-out 1.8s forwards;
  }

  .hello_wrap {
    position: relative;
    top: 2rem;
    left: calc(3% - 0.3vw);
    height: 80px;
    color: #2f90bb;
    color: #154c79;
    font-size: calc(18px + 0.3vw);
  }

  /* presentation name */

  .name_container {
    position: relative;
    width: 100%;
    height: 46vh !important;
    z-index: 3;
  }

  .name_row {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    margin: 0 auto;
    animation: anim-name-group 1s ease-out 2.6s forwards;
    backdrop-filter: hue-rotate(40deg);
  }

  .name_wrap {
    position: relative;
    width: 100%;
    height: auto;
    color: rgb(36, 155, 36);
    font-weight: 430;
    font-size: calc(36px + 0.3vw);
    letter-spacing: 4px;
  }

  /* footer message */
  .footer_container {
    position: relative !important;
    width: 100%;
    height: 112px;
    z-index: 3;
  }

  .logo_skills_wrapper {
    justify-content: flex-end;
  }

  .logo_skills_city {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
  }

  .logo_skill {
    position: relative;
    width: 70px;
    height: 100%;
    clip-path: circle(55%);
    transform: rotate(0deg);
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 1s ease-in-out;
  }

  div.logo_skill[data-pos="1"]:hover {
    transform: rotate(360deg);
  }
  div.logo_skill[data-pos="2"]:hover {
    transform: rotate(-360deg);
  }

  .logo_skill.react_skill {
    background-image: url("../assets/images/react-javascript-js-framework-facebook-svgrepo-com.svg");
  }
  .logo_skill.typescript_skill {
    background-image: url("../assets/images/typescriptdef-official-svgrepo-com.svg");
  }
  .logo_skill.mongodb_skill {
    background-image: url("../assets/images/mongodb-svgrepo-com.svg");
  }
  .logo_skill.javascript_skill {
    background-image: url("../assets/images/js-svgrepo-com.svg");
  }
  .logo_skill.node_skill {
    background-image: url("../assets/images/node-js-svgrepo-com.svg");
  }

  .logo_skill.vuejs_skill {
    background-image: url("../assets/images/vue-vuejs-javascript-js-framework-svgrepo-com.svg");
  }
}

@media (min-width: 460px) {
  .taked_home {
    height: calc(100vh);
  }

  .hello_wrap {
    top: 2rem;
  }

  .name_container {
    height: 46vh !important;
  }

  .name_row {
    top: 30%;
    margin: 0;
    backdrop-filter: unset;
  }

  .name_wrap {
    height: 100%;
  }

  .footer_container {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 120px;
  }

  .logo_skills_wrapper {
    justify-content: center;
  }

  .logo_skills_city {
    height: 50px;
    justify-content: flex-start;
    gap: 1rem;
  }

  .logo_skill {
    position: relative;
    width: 55px;
    height: 100%;
    clip-path: circle(55%);
  }
}

@media (min-width: 768px) {
  .main_view,
  .main_view.active_section {
    min-height: auto;
  }

  .taked_home {
    height: calc(100vh - 50px);
    margin: 0;
    background-position: center 35%;
  }

  .hye_container {
    position: relative;
    top: 0.5rem;
    width: 100%;
    height: 8rem;
    z-index: 3;
  }

  .hello_wrap {
    position: relative;
    top: 2rem;
    left: calc(3% - 0.3vw);
    font-size: calc(21px + 0.3vw);
  }

  .name_row {
    top: 40%;
  }

  .name_container {
    height: 50vh !important;
  }

  .name_wrap {
    height: 100%;
  }

  .footer_container {
    position: relative !important;
    bottom: 0 !important;
    width: 100%;
    height: 80px;
  }

  .logo_skills_city {
    height: 76px;
    margin-bottom: 0.25rem;
  }

  .logo_skill {
    position: relative;
    width: 80px;
  }
}

@keyframes anim-hello-group {
  0% {
    left: -40%;
    visibility: hidden;
  }
  100% {
    left: 20%;
    visibility: visible;
  }
}

@keyframes anim-name-group {
  0% {
    left: 100%;
    visibility: hidden;
  }

  100% {
    left: 50%;
    visibility: visible;
  }
}

@keyframes anim-footer-message {
  0% {
    visibility: hidden;
    transform: scale(0.2);
    opacity: 0.74;
  }

  100% {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
  }
}
