:root {
  --navbar-height-desk-1: 100px;
  --navbar-height-mob-desk: 50px;
  --footer-height-mob: 50px;

  --msg-container-height-mob: 120px;

  --msg-container-height-mob-mini: 100px;

  --msg-container-height-desk: 100px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (min-width: 160px) {
  /*wrapper*/
  .main_view,
  .main_view.active_section {
    min-height: calc(100vh - var(--navbar-height-mob-desk));
  }

  .taked_home {
    position: relative;
    top: 0;
    width: 100%;
    height: 28.2rem;
    margin: 0;
    background-color: rgb(201, 174, 226);
    background-image: url("../assets/images/inner-picture/lauren-mancke-aOC7TSLb1o8-unsplash.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    z-index: 0;
  }

  /* hello message */
  .hye_container {
    position: relative;
    top: 0.5rem;
    width: 100%;
    height: 30vh;
    z-index: 3;
  }

  .hye_row {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: left;
    visibility: hidden;
    animation: anim-hello-group 1s ease-out 1.8s forwards;
  }

  .hello_wrap {
    position: relative;
    top: 2rem;
    left: calc(3% - 0.3vw);
    height: 80px;
    color: #2f90bb;
    color: #154c79;
    font-size: calc(18px + 0.3vw);
  }

  .hello_wrap div.suit_bar {
    position: relative;
    bottom: -32px;
    left: 0;
    width: 12%;
    height: 2px;
    /* background-color: rgb(209, 190, 228); */
    background-color: #154c79;
  }

  /* presentation name */

  .name_container {
    position: relative;
    width: 100%;
    height: 14.25rem !important;
    z-index: 3;
  }

  .name_row {
    position: absolute;
    top: 45%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    margin: 0 auto;
    animation: anim-name-group 1s ease-out 2.6s forwards;
    backdrop-filter: hue-rotate(40deg);
  }

  .name_wrap {
    position: relative;
    width: 100%;
    height: auto;
    color: rgb(36, 155, 36);
    font-weight: 430;
    font-size: calc(36px + 0.3vw);
    letter-spacing: 4px;
  }

  /* footer message */
  .footer_container {
    position: relative !important;
    bottom: 5px !important;
    width: 100%;
    height: auto;
    z-index: 3;
  }

  .footer_row {
    position: relative;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

  .glad_see_you {
    height: 60px;
    padding-top: 5px;
  }

  .logo_skills_city {
    width: 100%;
    height: 50px;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: flex-end;
    gap: 0.25rem;
  }

  .logo_skill {
    position: relative;
    width: 80px;
    height: 100%;
    clip-path: circle(55%);
    transform: rotate(0deg);
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 1s ease-in-out;
  }

  div.logo_skill[data-pos="1"]:hover {
    transform: rotate(360deg);
  }
  div.logo_skill[data-pos="2"]:hover {
    transform: rotate(-360deg);
  }

  .logo_skill.react_skill {
    background-image: url("../assets/images/react-javascript-js-framework-facebook-svgrepo-com.svg");
  }
  .logo_skill.typescript_skill {
    background-image: url("../assets/images/typescriptdef-official-svgrepo-com.svg");
  }
  .logo_skill.mongodb_skill {
    background-image: url("../assets/images/mongodb-svgrepo-com.svg");
  }
  .logo_skill.javascript_skill {
    background-image: url("../assets/images/js-svgrepo-com.svg");
  }
  .logo_skill.node_skill {
    background-image: url("../assets/images/node-js-svgrepo-com.svg");
  }

  .logo_skill.vuejs_skill {
    background-image: url("../assets/images/vue-vuejs-javascript-js-framework-svgrepo-com.svg");
  }

  .welcome_home {
    color: rgba(0, 128, 0, 0.644);
    font-size: calc(11px + 0.1vw);
    visibility: hidden;
    animation: anim-footer-message 1s ease-in-out 3.2s forwards;
    transition: all 1s ease-in-out;
  }
}

@media (min-width: 460px) {
  .main_view,
  .main_view.active_section {
    min-height: calc(100vh);
  }

  .taked_home {
    height: 29rem;
  }

  .hello_wrap {
    top: 0.5rem;
    /* color: rgba(167, 142, 192, 0.788); */
  }

  .hello_wrap div.suit_bar {
    width: 20%;
  }

  .name_container {
    height: 12.5rem !important;
  }

  .name_row {
    top: 50%;
    margin: 0;
    backdrop-filter: unset;
  }

  .name_wrap {
    height: 70%;
    /* color: rgb(154, 110, 189); */
  }

  .welcome_home {
    /*   color: rgb(149, 110, 187); */
    font-size: calc(14px + 0.3vw);
  }

  .footer_container {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 140px;
  }

  .glad_see_you {
    height: 100%;
    padding-top: 0;
  }

  .logo_skill {
    position: relative;
    width: 60px;
    height: 100%;
    clip-path: circle(55%);
  }

  .logo_skills_city {
    margin: 0;
  }
}

@media (min-width: 768px) {
  .main_view,
  .main_view.active_section {
    min-height: auto;
  }

  .taked_home {
    height: 28rem;
    margin: 0;
    background-position: center 35%;
  }

  .hye_container {
    position: relative;
    top: 0.5rem;
    width: 100%;
    height: 8rem;
    z-index: 3;
  }

  .hello_wrap {
    position: relative;
    top: 2rem;
    left: calc(3% - 0.3vw);
    font-size: calc(21px + 0.3vw);
  }

  .name_row {
    top: 40%;
  }

  .name_container {
    height: 15rem !important;
  }

  .logo_skills_city {
    height: 76px;
    margin-bottom: 0.25rem;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }

  .logo_skill {
    position: relative;
    width: 80px;
    height: 100%;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .footer_container {
    position: relative !important;
    bottom: 0 !important;
    width: 100%;
    height: 80px;
  }
}

@keyframes anim-hello-group {
  0% {
    left: -40%;
    visibility: hidden;
  }
  100% {
    left: 20%;
    visibility: visible;
  }
}

@keyframes anim-name-group {
  0% {
    left: 100%;
    visibility: hidden;
  }

  100% {
    left: 50%;
    visibility: visible;
  }
}

@keyframes anim-footer-message {
  0% {
    visibility: hidden;
    transform: scale(0.2);
    opacity: 0.74;
  }

  100% {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
  }
}
