/* @import "../../node_modules/@fortawesome/fontawesome-free/css/fontawesome.min.css"; */

@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap&family=Cabin:ital,wght@0,400..700;1,400..700&display=swap&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --bg-color-ct-res1: rgba(0, 0, 128, 0.8);
  --bg-color-ct-res2: rgb(85, 80, 80);
  --resume-bg-desk-container: #6d6a6a;

  --navbar-height-desk-1: 100px;
  --navbar-height-mob-desk: 50px;
  --story-container-height-1: 120px;
  --story-container-height-2: 200px;

  --resume_rest-height-1: var(--navbar-height-mob-desk) +
    var(--story-container-height-1);

  --resume_rest-height-2: var(--navbar-height-desk-1) +
    var(--story-container-height-2);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul.paragraph_points {
  margin-bottom: 0;
  list-style: circle;
}

@media (min-width: 160px) {
  /*resume_wrapper*/
  .craft_domain {
    position: relative;
    left: 100%;
    padding-top: 0.5rem;
    opacity: 0;
    visibility: hidden;
    /*  animation: anime-resume-seat 1.2s ease-in-out forwards; */
  }

  /*story dropped */
  .story_container {
    position: relative;
    width: 100vw;
    height: auto;
    padding: 0.5rem;
    display: none;
  }

  h4.title_underlined {
    font-size: calc(12px + 0.3vw);
    text-decoration: underline;

    font-family: "Cabin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }

  .story_enroll {
    flex-direction: column;
  }

  .story_content {
    width: 100%;
    height: 100%;
    padding-left: 0;
    line-height: 1.5;
    font-size: calc(12px + 0.1vw);
    text-align: justify;

    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .resume_container {
    position: relative;
    top: 0.25rem;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
  }

  /*resume content side */
  .title_road.road_res1 {
    /*  writing-mode: sideways-lr; */
    writing-mode: horizontal-tb;
    background-color: var(--bg-color-ct-res1);
  }
  .title_road.road_res2 {
    /*  writing-mode: sideways-rl; */
    writing-mode: horizontal-tb;
    background-color: var(--bg-color-ct-res2);
  }

  .title_road {
    position: relative;
    left: -0.15rem;
    width: 100%;
    height: 20px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /*resume lift*/
  .resume_row_one,
  .resume_row_two {
    position: relative;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
  }

  .resume_row_two {
    flex-direction: column-reverse;
  }

  .content_resume {
    width: 100%;
    padding: 0.5rem 0.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .flash_resume {
    width: 100%;
    padding: 0.5rem 0;
    margin: 0 auto;
    display: grid;
    grid-auto-flow: dense;
    grid-auto-rows: auto auto;
    grid-template-rows: max-content;
  }

  .content_resume .paragraph_title {
    font-size: calc(15px + 0.3vw);
    font-weight: bold;
    text-align: center;

    font-family: "Cabin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }

  .content_resume .spot_matter {
    font-size: calc(14px + 0.2vw);

    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }

  .paragraph_points {
    width: 100%;
    height: auto;
    padding: 0 0.5rem 0 0.75rem;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
  }
}

@media (min-width: 275px) {
  .story_container {
    display: block;
  }

  .title_road {
    position: relative;
    left: 0;
  }

  .resume_container {
    top: 0rem;
    min-height: auto;
  }

  .resume_row_one,
  .resume_row_two {
    width: 96%;
  }
}

@media (min-width: 460px) {
  .story_enroll {
    flex-direction: row;
  }

  .story_content {
    padding: 0 1rem 0 0;
    margin: 0 0 0.5rem 0;
    font-size: calc(15px + 0.25vw);
  }

  .title_road {
    height: 40px;
  }

  .content_resume .paragraph_title {
    font-size: calc(18px + 0.3vw);
  }

  .content_resume .spot_matter {
    font-size: calc(14px + 0.3vw);
  }
}

@media (min-width: 768px) {
  .title_road {
    position: relative;
    left: -0.15rem;
    width: 20px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /*resume lift*/
  .resume_container {
    flex-direction: row;
  }

  .resume_row_one,
  .resume_row_two {
    left: 0rem;
    width: calc(50%);
    padding: 0;
    margin: 1rem 0 0.5rem;
    flex-direction: row;
    gap: 0rem;
  }

  .resume_row_two {
    flex-direction: row;
  }

  .title_road.road_res1 {
    writing-mode: sideways-lr;
    color: rgb(192, 182, 171);
  }
  .title_road.road_res2 {
    writing-mode: sideways-rl;
    color: rgb(179, 132, 88);
    margin-left: 0.25rem;
  }

  .content_resume {
    width: calc(100% - 28px);
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .content_resume:first-child {
    background-image: linear-gradient(
      to left bottom,
      #091748,
      #071c5b,
      #06206e,
      #062581,
      #092995
    );
  }
  .content_resume:last-child {
    background-image: linear-gradient(
      to right bottom,
      #091748,
      #071c5b,
      #06206e,
      #062581,
      #092995
    );
  }

  .content_resume .paragraph_title {
    height: 50px;
    padding: 1rem 0.5rem 0.5rem;
    color: #ddd;
    margin: 0.25rem 0;
    text-align: left;
  }

  .content_resume .spot_matter {
    height: 80px;
    color: rgb(154, 110, 189);
  }

  .paragraph_points {
    width: 100%;
    padding: 0 0.5rem 0 1.5rem;
    height: 220px;
    justify-content: flex-start;
    text-align: left;
    margin: 0;
    border-radius: 5px;
  }
}

@keyframes anime-resume-seat {
  0% {
    left: 100%;
    visibility: hidden;
    opacity: 0;
  }
  100% {
    left: 0%;
    visibility: visible;
    opacity: 1;
  }
}
