/* @import "../../node_modules/@fortawesome/fontawesome-free/css/fontawesome.min.css"; */

/* @import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap&family=Cabin:ital,wght@0,400..700;1,400..700&display=swap&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap&family=Satisfy&display=swap"); */

:root {
  --bg-color-ct-res1: rgba(0, 0, 128, 0.8);
  --bg-color-ct-res2: rgb(85, 80, 80);
  --resume-bg-desk-container: #6d6a6a;

  --navbar-height-desk-1: 100px;
  --navbar-height-mob-desk: 50px;
  --story-container-height-1: 120px;
  --story-container-height-2: 200px;

  --resume_rest-height-1: var(--navbar-height-mob-desk) +
    var(--story-container-height-1);

  --resume_rest-height-2: var(--navbar-height-desk-1) +
    var(--story-container-height-2);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li.no_list_style {
  list-style: none;
}

.font_Satisfy {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
}

.font_Garamond_400 {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.font_Cabin_500 {
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.font_Open_Sans_400 {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.text_size {
  font-size: 12px;
}

.lan_enum {
  padding: 0 0.25rem;
  color: #505050;
  font-size: calc(13px + 0.15vw);
  font-weight: bold;
}

.lan_level {
  padding: 0 0.25rem;
  color: #444;
  font-size: calc(12px + 0.3vw);
}

.edu_former {
  padding: 0.5rem;
  background-color: rgba(0, 0, 128, 0.705);
  display: flex;
  justify-content: center;
}

.lan_former {
  padding: 0.5rem;
  background-color: rgba(0, 0, 128, 0.705);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media (min-width: 160px) {
  /*resume_wrapper*/
  .craft_domain {
    position: relative;
    left: 0;
    width: 100vw;
    padding: 0.5rem 1rem 1rem;
    margin: 0 auto;
    background-color: #f4f4f4;
  }

  /* Summary */
  .story_container {
    display: none;
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0.25rem auto 4rem;
  }

  .title_story {
    width: 180px;
    padding: 0.25rem 1rem;
    margin: 1rem 0;
    color: #fff;
    background-color: #c4c1c1;
    text-align: center;
  }

  .title_underlined {
    font-size: calc(15px + 0.3vw);
    text-decoration: underline;
  }

  .story_wrap {
    position: relative;
    left: 0.75rem;
    width: 100%;
    height: 100%;
    line-height: 1.5;
    font-size: calc(14px + 0.2vw);
    text-align: justify;
  }

  /*software cursus*/

  .resume_container {
    position: relative;
    top: 0.25rem;
    width: 100%;
    padding: 0;
    margin: 2rem 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
  }

  /* --> primary education */
  .primar_education_content {
    width: 86%;
    margin: 4rem auto;
  }

  .primar_title_wrapper {
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .primar_table {
    width: 100%;
    min-height: 200px;
    padding: 0.5rem 1rem;
    margin: 1.5rem 0;
    background-color: #e0e0e0;
  }

  .academic_primar_year {
    color: #d3d0d0;
    background-color: #34803b;
    font-weight: bold;
  }

  .primar_table_row {
    width: 100%;
    margin: 0.5rem;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
  }

  .primar_table_row * {
    padding: 0.25rem 0;
    font-size: calc(12px + 0.2vw);
  }

  .primar_table_row .info_tech_title {
    width: 5rem;
    padding: 0;
    margin-right: 1rem;
  }

  .primar_table_row .info_tech_content {
    text-align: left;
    width: 82%;
    padding-right: 1rem;
  }
  /* <-- primary education */

  /* --> self-taught cursus */
  .self_taught_cursus {
    width: 100vw;
    padding: 0.5rem 0.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .primar_education .education_title,
  .experience_duty .experience_title,
  .self_taught_cursus .education_title,
  .language_mastering .language_title {
    width: 100%;
    padding: 0.35rem 0.25rem;
    color: #fff;
    background-color: rgb(200, 200, 205);
    font-size: calc(13px + 0.25vw);
    text-align: center;
  }

  .self_taught_cursus .about_journey {
    width: 100%;
    position: relative;
    top: 1rem;
    left: 1rem;
    color: #333;
    padding: 0.5rem 0;
    margin: 1.5rem 0;
    font-size: calc(13px + 0.25vw);
  }

  .self_taught_cursus .flash_resume {
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .self_taught_cursus .flash_resume:nth-child(odd) {
    background-color: #e6ebfc;
  }
  .self_taught_cursus .flash_resume:nth-child(even) {
    background-color: #eee;
  }

  .flash_resume .skill_label {
    width: 10rem;
    color: #bdbdbd;
    list-style: square;
    text-align: center;
    font-size: calc(12px + 0.15vw);
  }

  .flash_resume .period_works {
    list-style: circle;
    padding: 0.15rem 0.35rem;
    margin: 0;
    text-align: center;
  }

  .period_works .duration_times {
    padding: 0.25rem;
    color: #fff;
    background-color: rgb(187, 102, 154);
    font-size: calc(10px + 0.15vw);
    border-radius: 3px;
  }

  .period_works .specific_date {
    font-size: calc(11px + 0.25vw);
    font-weight: bold;
  }
  /* <-- self-taught cursus */

  /* --> language potential  */
  .language_mastering {
    width: 100vw;
    height: 210px;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .language_potential_mob {
    width: 100%;
    padding: 1rem 2rem;
    margin: 1.5rem auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*  gap: 0.5rem; */
  }

  .language_potential_desk {
    display: none;
  }
  /* <-- language potential */
}

@media (min-width: 460px) {
  .edu_former {
    width: 60%;
  }

  .lan_former {
    width: 50%;
    justify-content: center;
  }
  .text_size {
    font-size: calc(18px + 0.3vw);
  }

  .story_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .primar_education .education_title,
  .experience_duty .experience_title,
  .self_taught_cursus .education_title,
  .language_mastering .language_title {
    width: 80%;
    font-size: calc(20px + 0.35vw);
  }

  .language_mastering .language_title {
    width: 40%;
  }

  /* --> primary education */
  .primar_education_content {
    width: 86%;
    margin: 4rem auto;
  }

  .primar_title_wrapper {
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .primar_table {
    width: 100%;
    min-height: 200px;
    padding: 0.5rem 1rem;
    margin: 1.5rem 0;
    background-color: #e0e0e0;
  }

  .primar_table_row * {
    font-size: calc(14px + 0.1vw);
  }

  .primar_table_row .info_tech_content {
    text-align: left;
    width: 72%;
  }
  /* <-- primary education */

  /* --> self-taught cursus */
  .self_taught_cursus {
    width: 90vw;
    margin: 0 auto;
  }

  .self_taught_cursus .about_journey {
    font-size: calc(15px + 0.3vw);
  }

  .self_taught_cursus .flash_resume {
    height: 15rem;
  }

  .flash_resume .skill_label {
    width: 40%;
    padding-bottom: 0.5rem;
    font-size: calc(20px + 0.3vw);
  }

  .flash_resume .period_works {
    padding: 0.5rem 0.35rem;
    margin: 1rem 0;
  }

  .period_works .duration_times {
    padding: 0.5rem 0.25rem;
    font-size: calc(14px + 0.2vw);
  }

  .period_works .specific_date {
    font-size: calc(14px + 0.3vw);
  }
  /* <-- self-taught cursus */

  /* --> language potential desk */
  .language_potential_mob {
    display: none;
  }

  .language_potential_desk {
    position: relative;
    top: 2rem;
    width: 100vw;
    height: 130px;
    padding: 0;
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    font-size: calc(13px + 0.15vw);
    gap: 0.15rem;
  }

  .taught_language_one,
  .taught_language_two {
    position: relative;
    width: 50%;
    height: 100px;
    margin: 0 auto;
  }

  .taught_language_one .essence_lan {
    width: 210px;
    padding: 0.35rem 0.25rem;
    background-color: #ccd1cd;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
  }

  .taught_language_two .essence_lan {
    width: 210px;
    padding: 0.35rem 0.25rem;
    color: #fff;
    background-color: #6f1277;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
  }

  .taught_language_one .lan_square_item {
    position: relative;
    width: 14px;
    height: 7px;
    border: 1px solid #333;
  }

  .taught_language_two .lan_square_item {
    position: relative;
    width: 14px;
    height: 7px;
    border: 1px solid #e4e4f4;
  }

  .taught_language_one .lan_square_item {
    background-image: linear-gradient(
      to right top,
      #103705,
      #2c6110,
      #4f8d16,
      #79bb18,
      #a8eb12
    );
  }

  .taught_language_one .lan_square_item:last-child {
    background-color: transparent;
    background-image: none;
  }

  .taught_language_two .lan_square_item.active_square {
    background-image: linear-gradient(
      to right top,
      #103705,
      #2c6110,
      #4f8d16,
      #79bb18,
      #a8eb12
    );
  }

  .taught_language_two .lan_square_item:nth-child(3)::before {
    content: "";
    position: absolute;
    width: 65%;
    height: 100%;
    background-image: linear-gradient(
      to right top,
      #103705,
      #2c6110,
      #4f8d16,
      #79bb18,
      #a8eb12
    );
  }

  /* <-- language potential desk */
}

@media (min-width: 768px) {
  .edu_former {
    width: 40%;
  }

  .lan_former {
    width: 30%;
    margin: 0.5rem auto 2rem;
  }

  .text_size {
    font-size: calc(20px + 0.3vw);
  }

  .primar_table_row .info_tech_content {
    width: 90%;
  }

  /* <-- self-taught cursus */
  .self_taught_cursus {
    width: 86vw;
    max-width: 900px;
    margin: 4rem auto 3rem;
  }

  .self_taught_cursus .about_journey {
    left: 1.5rem;
    font-size: calc(15px + 0.3vw);
  }

  .self_taught_cursus .flash_resume:nth-child(odd) {
    border-left: 0.1rem solid #fccfaa;
    border-right: 0.1rem solid #fccfaa;
  }
  .self_taught_cursus .flash_resume:nth-child(even) {
    border-left: 0.1rem solid #afafafc7;
    border-right: 0.1rem solid #afafafc7;
  }
  /* <-- self-taught cursus */

  .primar_education .education_title,
  .experience_duty .experience_title,
  .self_taught_cursus .education_title,
  .language_mastering .language_title {
    width: 80%;
    height: 2.6rem;
    padding: 0;
    display: grid;
    place-items: center;
  }

  /* --> language potential desk */
  .language_mastering {
    height: 350px;
  }

  .language_potential_desk {
    width: 90vw;
    max-width: 900px;
    justify-content: space-between;
    font-size: calc(15px + 0.18vw);
    gap: 0.5rem;
  }

  .taught_language_one .essence_lan {
    width: 390px;
  }

  .taught_language_two .essence_lan {
    width: 390px;
  }

  .taught_language_one .lan_square_item {
    position: relative;
    width: 14px;
    height: 7px;
    border: 1px solid #333;
  }

  .taught_language_two .lan_square_item {
    position: relative;
    width: 14px;
    height: 7px;
    border: 1px solid #e4e4f4;
  }
  /* <-- language potential desk */
}
