@import "../../node_modules/bootstrap/dist/css/bootstrap-utilities.min.css";

:root {
  --navbar-height-desk-1: 100px;
  --navbar-height-mob-desk: 50px;

  --resume_rest-height-1: var(--navbar-height-mob-desk) +
    var(--story-container-height-1);

  --resume_rest-height-2: var(--navbar-height-desk-1) +
    var(--story-container-height-2);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.font_Satisfy {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
}

.font_Open_Sans_500 {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: clamp(0.75rem, 0.92rem, 1.1rem);
}

@media (min-width: 160px) {
  /*skills wrapper */
  .active_skills {
    /*1*/
    min-height: calc(100vh - var(--navbar-height-mob-desk));
    padding: 1.75rem 0 1.25rem;
    margin-top: 1rem;
    background-image: linear-gradient(
      to top,
      #000080,
      #18008d,
      #280099,
      #3700a6,
      #4500b3
    );
  }

  .skills_container {
    /*2*/
    position: relative;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    gap: 0.25rem;
  }

  .skills_content {
    /*3*/
    width: 100%;
    height: auto;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
  }

  .skill_box {
    /*4*/
    width: calc(100% - 0.8rem);
    height: auto;
    margin: 0.2rem auto;
    display: flex;
    justify-content: center;
  }

  .skill_box .skill_item {
    /*5*/
    --skill-circle-shift: -100% - 6px;
    --color-bar-hover: #ccc;
    position: relative;
    width: 100%;
    height: 100%;
    /* margin: 0 auto; */
    display: flex;
    justify-content: flex-end;
    border: 1px solid transparent;
  }

  .skill_box .skill_item h4 {
    /*5*/
    font-size: calc(14px + 0.3vw);
    text-decoration: underline;
  }
  .skill_box .skill_item p {
    /*5*/
    font-size: calc(12px + 0.1vw);
  }

  .skill_box .skill_item::before {
    /*5*/
    content: "";
    position: absolute;
    top: 0;
    left: 0.75rem;
    width: 3px;
    height: 100%;
    border-radius: 12px;
    background-color: var(--color-bar-hover);
    transform: translateX(-100%);
  }

  .skill_box .skill_item::after {
    /*5*/
    content: "";
    position: absolute;
    top: 20px;
    left: 0.75rem;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #333;
    transform: translateX(-62%) scale(1);
    transition: all 400ms ease-in-out;
  }

  .skill_box .skill_item:hover::after {
    background-color: #ffcd39;
    transform: translateX(-62%) scale(1.4);
  }

  .skill_box .skill_item .sample_project {
    font-size: calc(12px + 0.3vw);
    padding-right: 1rem;
  }

  .sample_project span.sample_link {
    color: #ccc;
  }

  .sample_project a {
    color: rgb(154, 110, 189);
    font-size: calc(10px + 0.3vw);
    transition: all 1s ease-in-out 0.2s;
  }

  .skill_box .skill_item:hover .sample_project a {
    color: #ffcd39;
  }

  .skill_box .skill_item:hover::after ~ .sample_project a {
    font-size: calc(11px + 0.3vw);
    color: #ffcd39;
  }

  .skill_box .skill_item .skill_subItem {
    /*6*/
    --left-shift-box: 10px;
    --right-shift-box: 2px;
    --shift-percent-height: 10px;
    --top-first-square: 12px;
    --top-second-square: 4px;

    --top-hover-square: 4px;

    position: relative;
    width: 88%;
    height: 100%;
    padding-top: 0.75rem;
    color: #fff;
    background-image: linear-gradient(
      to right bottom,
      #000080,
      #19007a,
      #250074,
      #2c006e,
      #320169
    );
    border-radius: 5px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(-4%);
    z-index: 1;
  }

  .skill_box .skill_item .skill_subItem .area_knowledge {
    list-style: square;
    width: 100%;
    padding: 1rem 0 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 1rem;
    z-index: 6;
  }

  .skill_subItem::before {
    /*6*/
    content: "";
    position: absolute;
    top: var(--top-first-square);
    left: var(--left-shift-box);
    width: 14px;
    height: 14px;
    transform: rotate(0deg);
    border: 1px solid #000;
    background-color: #4b6850;
    overflow: hidden;
    z-index: 5;
    display: block;
    /* transition: top 0.5s ease-in 0.2s transform 1s ease-in-out background-color
      1s ease-in-out; */
    transition: all 1.2s ease-in-out;
  }

  .skill_subItem::after {
    /*6*/
    content: "";
    position: absolute;
    top: var(--top-second-square);
    left: var(--right-shift-box);
    width: 14px;
    height: 14px;
    background-color: #455792;
    transform: rotate(0deg);
    border: 1px solid #000;
    z-index: 3;
    display: block;
    /* transition: top 0.5s ease-in 0.2s transform 1s ease-in-out background-color
      1s ease-in-out; */
    transition: all 1.2s ease-in-out;
  }

  .skill_box .skill_item:hover::after .skill_subItem::before {
    top: var(--top-hover-square);
    transform: rotate(330deg);
    background-color: #36523b;
    transition: all 1s ease-in-out;
  }

  .skill_box .skill_item:hover::after .skill_subItem::after {
    top: var(--top-hover-square);
    transform: rotate(30deg);
    background-color: #52545a;
    transition: all 1s ease-in-out;
  }

  /* skills subitem  ::before, ::after */
  .skill_subItem::before {
    /*6*/
    display: none;
  }
  .skill_subItem::after {
    /*6*/
    display: none;
  }

  /* full-stack app */
  .full_stack_content {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .title_stack {
    width: 100%;
    color: #fff;
    font-size: calc(22px + 0.3vw);
    letter-spacing: 1.5px;
    padding: 0.5rem 0;
    margin: 2rem 0 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .full_stack_content .project_base {
    width: 100%;
    color: #fff;
    padding: 0.5rem;
    margin: 0.5rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .project_base .img_stack_wrap {
    width: 100%;
    height: 180px;
    border-radius: 5px;
  }

  .img_stack_wrap .img_full_stack {
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  #img_full_one.img_full_stack {
    background-image: url("../assets/images/Screenshot-2.png");
  }

  #img_full_two.img_full_stack {
    background-image: url("../assets/images/Screenshot-3.png");
  }

  .project_base .img_stack_wrap:hover {
    border: 2px solid #ffce39c4;
  }

  .project_base .about_stack_project {
    width: 82%;
    padding: 0;
    margin: 0.5rem auto;
    display: flex;
    flex-direction: column;
  }

  .project_base .img_stack_wrap ~ .about_stack_project .full_stack_link,
  .about_stack_project .full_stack_link {
    color: rgb(154, 110, 189);
    transition: all 450ms ease-in-out;
  }

  .project_base .img_stack_wrap:hover ~ .about_stack_project .full_stack_link,
  .about_stack_project .full_stack_link:hover {
    color: #ffce39c4;
  }

  .about_stack_project .summary_project {
    width: 100%;
    margin-top: 0.75rem;
    display: flex;
    justify-content: flex-start;
  }

  .summary_project:nth-child(2) {
    font-size: calc(13px + 0.2vw);
  }

  .full_stack_link {
    font-size: calc(13px + 0.3vw);
    cursor: pointer;
    text-decoration: underline;
  }
}

@media (min-width: 460px) {
  /*skills wrapper */
  .active_skills {
    /*1*/
    margin-top: 0;
  }

  .skill_box {
    /*4*/
    justify-content: flex-end;
  }

  .skill_box .skill_item h4 {
    /*5*/
    font-size: calc(18px + 0.3vw);
    text-decoration: underline;
  }
  .skill_box .skill_item p {
    /*5*/
    font-size: calc(16px + 0.2vw);
  }

  .skill_box .skill_item .skill_subItem {
    padding: 0.75rem 0;
    margin: 0.35rem 0;
  }

  /* skills subitem  ::before, ::after */
  .skill_subItem::before {
    /*6*/
    display: block;
  }

  .skill_subItem::after {
    /*6*/
    display: block;
  }

  .full_stack_content .project_base {
    margin: 0.5rem auto;
  }

  .project_base .img_stack_wrap {
    width: 80%;
    max-width: 620px;
    height: 260px;
    margin: 0 auto;
    border-radius: 5px;
  }
}

@media (min-width: 768px) {
  /*skills wrapper */

  .skills_container {
    /*2*/
    padding: 1rem 0.5rem 0.5rem;
    margin: 0 auto 1rem;
    flex-basis: 50%;
    overflow-x: hidden;
  }

  .skills_content {
    /*3*/
    width: 80%;
    max-width: 820px;
    margin: 3.25rem auto 0;
    gap: 1.25rem;
  }

  .skill_box .skill_item {
    min-height: 260px;
    justify-content: center;
  }

  .skill_box .skill_item h4 {
    /*5*/
    font-size: calc(14px + 0.2vw);
    text-decoration: underline;
  }
  .skill_box .skill_item p {
    /*5*/
    font-size: calc(12px + 0.1vw);
  }

  .skill_box .skill_item .skill_subItem {
    left: 1%;
    padding: 1.5rem 1rem;
    margin: 0.25rem 0;
    width: 96%;
    min-height: 260px;
    transform: translateX(0%);
  }

  /* skills subitem  ::before, ::after */
  .skill_subItem::before {
    /*6*/
    display: none;
  }
  .skill_subItem::after {
    /*6*/
    display: none;
  }
}

@keyframes anim-skills-container {
  0% {
    left: -80%;
    visibility: hidden;
  }
  100% {
    left: 0%;
    visibility: visible;
  }
}
